@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap'); 

* {
    font-family: 'Quicksand';
    /* background-color: #e0e0e0; */
}

.head-box {
    border-radius: 5px;
    background: #e0e0e0;
    box-shadow:  10px -10px 50px #b5b5b5,
                -10px 10px 50px #ffffff;
    padding: 5px;
    margin: 5px;
    text-align: center;
    /* justify-content: center; */
    position: relative;
}

.top-box {
    border-radius: 5px;
    background: #e0e0e0;
    box-shadow:  10px -10px 50px #b5b5b5,
                -10px 10px 50px #ffffff;
    padding: 5px;
    margin: 5px;
}

.middle-box {
    border-radius: 5px;
    background: #e0e0e0;
    box-shadow:  10px -10px 50px #b5b5b5,
                -10px 10px 50px #ffffff;
    padding: 5px;
    margin: 5px;
}

